## Git

# push to master branch on github
alias gpom="git push origin master"

# push to currently checked out branch on github
alias gpoh="git push origin HEAD"

# push to Heroku
alias gphm="git push heroku master"

# pull from a remote and avoid the merge commit
alias gpre="git pull --rebase"

# abort a merge
alias gabort="git reset --hard HEAD"

# display local branches
alias gbloc="git branch"

# display remote branches
alias gbrem="git branch -r"

# display local and remote branches
alias gball="git branch -a"

# delete local branch
alias gbdloc="git branch -D"

# delete remote branch
alias gbdrem="git push origin --delete"

# display short status
alias gst="git status --short"

# show git files about to be commited
alias gshow="git show --pretty='format:' --name-only"

# undo a 'git push'
alias gunpush="git push -f origin HEAD^:master"

# undo a 'git add .'
alias gunadd="git rm -r --cached ."

# see dry run of 'git add .'
alias gadryrun="git add -n ."

# grep through previous commits (and deleted code)
alias gsearch="git log -S"

# stash latest updates
alias gstash="git stash"

# recover last stash
alias gstashp="git stash pop"

# display stashes
alias gstashl="git stash list"

# display diff
alias gd="git diff"

# display diff
alias gdiff="git diff --color --color-words --abbrev"

# show difference without whitespace changes
alias gdw="git diff --ignore-space-change"

# display diff stats
alias gdstat="git diff --stat"

# shows difference between empty tree and current working tree
alias gtreediff="git diff --stat `git hash-object -t tree /dev/null`"

# nice log output
alias glog="git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --"

# log output with cmd-clickable github urls
alias glogc="gf"

# open all files with merge conflicts in Sublime Text
alias gconflicts="git diff --name-only | uniq | xargs subl"

## Git repo trivia

# get lines of code in repo
alias loc="git ls-files | xargs wc -l"

# list number of commits in repo per user
alias gscore="git shortlog -n -s -e"

# info about own contributions
alias gme="gitContribute 1"

# info about own contributions over previous day
alias gme24="gitContribute 2"

# info about team contributions
alias gteam="gitContribute 3"

# info about team contributions over previous day
alias gteam24="gitContribute 4"

## Rails

# displays running rails servers
alias zombie-rails="ps ax | grep rails"

# bundle exec shortcut
alias brake="bundle exec rake"

## Sublime Text

# open file(s) in Sublime
# alias subl='open -a "Sublime Text 2"'

# list of install sublime packages
alias sublpak='ls ~/Library/Application\ Support/Sublime\ Text\ 2/Packages'

# Always use color output for `ls`
if [[ "$OSTYPE" =~ ^darwin ]]; then
  alias ls="command ls -G"
else
  alias ls="command ls --color"
  export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
fi

# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias src='cd ~/src'
alias docs='cd ~/documents'

# List all files colorized in long format, including dot files
alias la="ls -lav"
alias dir="ls -lav"

# List only directories
alias lsd='ls -lh'
alias dirs='ls -lh'

# List size of contents of files and dirs inside a dir
alias dirsize="du -smc * | sort -n"

# File size
alias fsize="stat -f \"%z bytes\""

# Total size of files in folder
alias fosize=""

# Recursive total size of files in folders
alias rfosize="du -sh"

# Display power settings
alias power="pmset -g"

# `cat` with beautiful colors. requires Pygments installed.
# sudo easy_install Pygments
# alias c='pygmentize -O style=monokai -f console256 -g'

# open a 'clean' profile of Chrome
alias cc="open -a 'Google Chrome' --args --user-data-dir=/dev/null"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
type -t hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
type -t md5sum > /dev/null || alias md5sum="md5"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# Empty the Trash on all mounted volumes and the main HDD
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; rm -rfv ~/.Trash"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# display running processes
alias procs="ps aux"

# minimize/maximize volume (http://xkcd.com/530/)
alias mute="osascript -e 'set volume output muted true'"
alias crankit="osascript -e 'set volume 10'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles TRUE && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles FALSE && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Disable/Enable Spotlight
alias spotoff="sudo mdutil -a -i off"
alias spoton="sudo mdutil -a -i on"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# horse ebooks
alias horsey="curl -s horseebooksipsum.com/api/v1/ | say"

# update OS X, homebrew, npm & gems
alias update='sudo softwareupdate -i -a; brew update; brew cleanup; npm update npm -g; npm update -g; sudo gem update'