# RAILS

# start up PLM website
alias splm="bundle exec rails server -p 3000"

# start up ORE website
alias sore="bundle exec rails server -p 4000"

# start up rails console
alias con="rails console"

# GIT

# list number of commits per user
alias gscore="git shortlog -n -s -e"

# get lines of code
alias loc="git ls-files | xargs wc -l"

# shows difference between empty tree and current working tree
alias treediff="git diff --stat `git hash-object -t tree /dev/null`"

# nice log output
alias gls="git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --"

# push to master branch on github
alias gpom="git push origin master"

# push to master branch on github
alias gpoh="git push origin HEAD"

# display current branches
alias gb="git branch"

# display local and remote branches
alias gball="git branch -a"

# display only remote branches
alias gbrem="git branch -r"

# display short status
alias gst="git status -s"

# show git files about to be commited
alias gshow="git show --pretty="format:" --name-only"

# Pull from a remote and avoid the merge commit:
alias gupr="git pull --rebase"

# undo a 'git push'
alias unpush="git push -f origin HEAD^:master"

# undo a 'git add .'
alias unadd="git rm -r --cached ."

# see dry run of 'git add .'
alias dryrun="git add -n ."

# info about my contributions
# alias gme="git log --author='Morgan Wigmanich' --pretty=tformat: --numstat | gawk '{ add += $1 ; subs += $2 ; loc += $1 - $2 } END { printf \"added lines: %s removed lines : %s total lines: %s\n\",add,subs,loc }' -"

# batch git rm (opposite of git add .)
# alias grm="git rm $(git ls-files --deleted)"

# remove changes to that db file that gets updated on branch change
alias byedb="git checkout db/structure.sql"

# open a 'clean' profile of Chrome
alias cc="open -a 'Google Chrome' --args --user-data-dir=/dev/null"

# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias src='cd ~/src'
alias docs='cd ~/documents'

# update OS X, homebrew, npm & gems
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm update npm -g; npm update -g; sudo gem update'

# List all files colorized in long format, including dot files
alias la="ls -la"
alias dir="ls -lav"

# List only directories
alias lsd='ls -l | grep "^d"'

# Always use color output for `ls`
if [[ "$OSTYPE" =~ ^darwin ]]; then
	alias ls="command ls -G"
else
	alias ls="command ls --color"
	export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
fi

# `cat` with beautiful colors. requires Pygments installed.
# 							   sudo easy_install Pygments
alias c='pygmentize -O style=monokai -f console256 -g'

# Sublime Text

# open file(s) in Sublime
alias subl='open -a "Sublime Text 2"'

# list of install sublime packages
alias sublpak='ls ~/Library/Application\ Support/Sublime\ Text\ 2/Packages'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Canonical hex dump; some systems have this symlinked
type -t hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
type -t md5sum > /dev/null || alias md5sum="md5"

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# File size
alias fs="stat -f \"%z bytes\""

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# Empty the Trash on all mounted volumes and the main HDD
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; rm -rfv ~/.Trash"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# minimize/maximize volume (http://xkcd.com/530/)
alias shhh="osascript -e 'set volume output muted true'"
alias crankit="osascript -e 'set volume 10'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles TRUE && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles FALSE && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Disable/Enable Spotlight
alias spotoff="sudo mdutil -a -i off"
alias spoton="sudo mdutil -a -i on"

# horse ebooks
alias horsey="curl -s horseebooksipsum.com/api/v1/ | say"