# Always use color output for `ls`
alias ls='ls -G'

# List all files colorized in long format, including dot files
alias la="ls -lav"
alias dir="la"

# List only directories
alias dirs="ls -d */ | tr -d /"

# recursive tree view of current directory
alias tree="tree -C -a -I .git"

# List size of contents of files and dirs inside a dir
alias dirsize="du -smc * | sort -n"

# File size
alias fsize="stat -f \"%z bytes\""

# Total size of files in folder
alias fosize=""

# Recursive total size of files in folders
alias rfosize="du -sh"

# Display power settings
alias power="pmset -g"

# open a 'clean' profile of Chrome
alias clean-chrome="open -a 'Google Chrome' --args --user-data-dir=/dev/null"

# flush DNS cache
alias dns-flush="sudo killall -HUP mDNSResponder"

# reset DNS cache
alias dns-reset="sudo launchctl unload -w /System/Library/LaunchDaemons/com.apple.mDNSResponder.plist; sudo launchctl load -w /System/Library/LaunchDaemons/com.apple.mDNSResponder.plist;"

# IP addresses
alias externalip="dig +short myip.opendns.com @resolver1.opendns.com"
# alias externalip="curl http://ipecho.net/plain; echo"
# alias externalip="curl http://ifconfig.me/ip"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias lookup="lookup_ip"
# alias lookupip="curl ifconfig.me/"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Stopwatch
alias timer="echo 'Timer started. Stop with Ctrl-D.' && date && time cat && date"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

# ROT13-encode text. Works for decoding, too! ;)
alias rot13="tr a-zA-Z n-za-mN-ZA-M"

# Empty the Trash on all mounted volumes and the main HDD
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; rm -rfv ~/.Trash"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Get headers of a URL
alias hinfo="curl -I"

# Display hardware info
alias hw="hostinfo"

# Display disk usage
alias diskspace="df -H"

# Display free space on disk
alias freespace="diskutil info / | grep 'Free Space'"

# Display *a lot* of hardware info
alias hwl="hostinfo; system_profiler; ioreg -bls;"

# display running processes
alias procs="ps aux"

# grep for a process name in running processes
alias fproc="ps aux | grep "

# kill a running process by pid
alias kproc="kill -9 "

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles TRUE && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles FALSE && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# minimize/maximize volume (http://xkcd.com/530/)
alias mute="osascript -e 'set volume output muted true'"
alias crankit="osascript -e 'set volume 10'"

# Disable/Enable Spotlight
alias spotoff="sudo mdutil -a -i off"
alias spoton="sudo mdutil -a -i on"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# update OS X, homebrew, npm & gems
alias update="sudo softwareupdate -i -a; brew update; brew cleanup; npm update npm -g; npm update -g;"

# reload shell after dotfiles change
alias br="source ~/.bashrc; echo 'reloaded shell session'"

# File system navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias src="cd ~/src"
alias docs="cd ~/documents"

## Rails ##

# bundle exec shortcut
alias brake="bundle exec rake"

# run pending migrations
alias rmig="bundle exec rake db:migrate RAILS_ENV=development"

# cds to directory where rbenv installed gems
alias gemdir=go_to_gem_dir

# running tests
alias rt="ruby -Itest"

# displays running rails servers
alias zombie-rails="ps ax | grep rails"

## ruby foreman ##
alias fst="foreman start"
alias fstd="foreman start -f Procfile.dev"

## NodeJS ##

# npm update; delete node_modules dir then npm install
alias npmu="rm -rf ./node_modules && npm install --ignore-scripts"

# npm update & rebuild
alias npmur="rm -rf ./node_modules && npm install"

# lists locally installed top-level modules
alias npml="npm ls --depth=0"

# lists globally installed top-level modules
alias npmg="npm -g ls --depth=0"

## node foreman ##
alias nfst="nf start"
alias nfstd="nf start -f Procfile.dev"

## DB ##

# start redis server
alias reds="redis-server /usr/local/etc/redis.conf"

# start redis cli
alias redc="redis-cli"

# start mongodb
alias smongo="mongod"

## Postgres ##
alias spg="postgres -D /usr/local/var/postgres"
alias stoppg="pg_ctl -D /usr/local/var/postgres stop -m immediate"
alias lspg="psql --list"

## Heroku ##
alias hra="heroku restart --app "

## Sublime Text ##

# list of installed sublime packages
alias sublpak="ls ~/Library/Application\ Support/Sublime\ Text\ 3/Installed\ Packages | sed -E 's/.{16}$//'"
alias subl2pak="ls ~/Library/Application\ Support/Sublime\ Text\ 2/Packages"

## Misc programs ##
alias mou="open -a Mou "

# colorize code in clipboard to copy to keynote
# javascript
alias c2kj="pbpaste | pygmentize -l javascript -f rtf -O style=native | pbcopy"
# ruby
alias c2kr="pbpaste | pygmentize -l ruby -f rtf -O style=native | pbcopy"
# css
alias c2kc="pbpaste | pygmentize -l css -f rtf -O style=native | pbcopy"
# sass
alias c2ks="pbpaste | pygmentize -l sass -f rtf -O style=native | pbcopy"

## Git ##

# pull from a remote
alias gp="git pull"

# pull from a remote and avoid the merge commit
alias gpre="git pull --rebase"

# create new local branch
alias gb="git checkout -b"

# list local branches
alias gbl="git branch"

# list local branches by most recently updated
alias gbll="git_branch_local_ls"

# list remote branches
alias gbr="git branch -r"

# display remote branches by most recently updated
alias gbrl="git_branch_remote_ls"

# display all changed files in current branch
alias gbls="git_branch_ls"

# display local and remote branches
alias gba="git branch -a"

# delete local branch
alias gbld="git branch -D"

# delete remote branch
alias gbrd="git push origin --delete"

# display short status
alias gst="git status --short"

# display long status
alias gstl="git status"

# add all unstaged files to index
alias gall="git add ."

# see dry run of 'git add .'
alias galldry="git add -n ."

# commit files on stage
alias gc="git commit -m "

# add all modified files and commit
alias gca="git add . -A && git commit -m"

# make a commit without adding anything (for Heroku push)
alias gce="git commit --allow-empty -m 'forced commit'"

# show git files about to be commited
alias gcs="git show --pretty='format:' --name-only"

# cherry pick commits
alias gcp="git cherry-pick "

# interative rebase (example: `gir4` where 4 is the number of commits to go back in history)
# TODO move this to function so it's possible to pass agrument
alias gir="git rebase -i HEAD~"

# create a pull request
alias gpr="hub pull-request"

# push to master branch on github
alias gpom="git push origin master"

# push to currently checked out branch on github
alias gpoh="git push origin HEAD"

# undo a push
alias gunpush="git push -f origin HEAD^:master"

# undo a merge
alias gunmerge="git reset --hard HEAD@{1}"
# alias gunmerge="git reset --merge ORIG_HEAD"

# remove all files from stage
alias gallr="git reset HEAD ."

# undo a 'git add .'
# alias gunall="git rm -r --cached ."

# redo last commit statement
alias grs="git reset --soft HEAD"

# redo last commit AND undo staged files
alias grm="git reset --mixed HEAD"

#
alias grh="git reset --hard HEAD"

# ref-log
alias gr="git reflog"

# open all files with merge conflicts in Sublime Text
# why doesn't this work?
alias gconf="git diff --name-only --diff-filter=U | uniq | xargs subl -n"

# stash unstaged files
alias gstash="git stash"

# recover last stash
alias gstashp="git stash pop"

# display stashes
alias gstashl="git stash list"

# display diff
alias gdiff="git icdiff"
# alias gdiff="git diff --color --color-words --abbrev"

# show difference without whitespace changes
alias gdw="git diff --ignore-space-change"

# display differences by filename
alias gdfiles="git diff --stat"

# shows difference between empty tree and current working tree
alias gtreediff="git diff --stat `git hash-object -t tree /dev/null`"

# nice log output
alias glog="git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --"

# nice log output, don't show merge commits
alias glognm="git log --no-merges --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --"

# nice log output, only display commits directly to current branch
alias glogoc="git log --no-merges --first-parent --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --"

# log output with cmd-clickable github urls
alias glogc="git_log_clickable"

# display global git user email
alias gemail="git config --global --get user.email"

# create an orphan branch for gh-pages and unstage all files
# follow with git rm --cached $(git-files)
alias ghpages="git checkout --orphan gh-pages"

# browse (requires lighthttpd)
alias gweb="git instaweb"

# grep through repo
alias ggrep="git grep --break --heading --line-number"

# grep through previous commits (and deleted code)
alias gsearch="git log -S"

# git blame that ignore whitespace
alias gblame="git blame -w"

## Git repo trivia ##

# user commits in repo for last week
alias gtime="git log --author='`git config --global user.name`' --since='1 sunday ago' --until='now' --format='%Cred%h%Creset %s %Cgreen(%ci) %Cblue<%an>%Creset' --no-merges"

# user commits in repo for previous week
alias gtime2="git log --author='`git config --global user.name`' --since='2 sunday ago' --until='1 sunday ago' --format='%Cred%h%Creset %s %Cgreen(%ci) %Cblue<%an>%Creset' --no-merges"

# display contribution calendar of repo
alias gcal="git-cal"

# list number of commits in repo per user
alias gcoms="git shortlog --numbered --summary"

# list number of commits in repo per user not including merges
alias gcomsnm="git shortlog --numbered --summary --no-merges"

# list number of commits in repo per user with their email address
alias gcomse="git shortlog --numbered --summary --email"

# info about own contributions
alias gme="git_contribute 1"

# info about own contributions over previous day
alias gme24="git_contribute 2"

# info about team contributions
alias gteam="git_contribute 3"

# info about team contributions over previous day
alias gteam24="git_contribute 4"

# get number of files in repo
alias gfiles="git ls-files | wc -l"

# get lines of code in repo
alias loc="git ls-files -z | xargs -0 wc -l"
alias gloc="git diff --stat `git hash-object -t tree /dev/null` | tail -1"

# get my merge commits
alias gmymerges="git log --merges --color --graph --abbrev-commit --author='`git config --global user.name`'"
