#!/usr/bin/env sh

# install location for asdf
export ASDF_DIR="$HOME/.asdf";

# set nano as default editor
export EDITOR='nano';

# set icdiff as default git diff tool
export DIFF=$HOME/dotfiles/code/icdiff

# Larger bash history (default is 500)
export HISTSIZE=1000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don't clear the screen after quitting a manual page
export MANPAGER="less -X";

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# Expiration time for the aws-vault GetSessionToken credentials
# https://github.com/99designs/aws-vault/blob/master/USAGE.md
export AWS_SESSION_TOKEN_TTL=24h

# Hide the 'default interactive shell is now zsh' warning about bash on macOS
export BASH_SILENCE_DEPRECATION_WARNING=1;

# x86_64 or arm64
export MACHINE_ARCHITECTURE="$(/usr/bin/uname -m)"

# Homebrew installs in different locations depending on architecture
if [[ "${MACHINE_ARCHITECTURE}" == "arm64" ]]
then
  export HOMEBREW_PREFIX="/opt/homebrew"
else
  export HOMEBREW_PREFIX="/usr/local"
fi

# Prevent homebrew casks from throwing Gatekeeper message on opening
export HOMEBREW_CASK_OPTS=--no-quarantine

# Path adjustments
GITDIFF=$HOME/dotfiles/code/icdiff # make icdiff available for gdiff alias

export PATH=$GITDIFF:$PATH
