# what is listening on a given port
function which_port() {
  lsof -n -i4TCP:$1 | grep LISTEN
}

function log_section() {
  echo "$(tput setaf 0)$(tput setab 7)$(tput bold) $1 $(tput sgr 0)"
}

function log_step() {
  echo "$(tput setaf 6)- $1$(tput sgr 0)"
}

function list_raspberry_pi_ips() {
  echo "IPs of network-connected raspberry pi computers:"
  sudo nmap -sP 10.0.1.0/24 | awk '/^Nmap/{ip=$NF}/B8:27:EB/{print ip}'
  # arp -na | grep -i b8:27:eb
}

# lazyload nvm for faster shell startup time
# https://gist.github.com/fl0w/07ce79bd44788f647deab307c94d6922

lazynvm() {
  unset -f nvm node npm
  source $(brew --prefix nvm)/nvm.sh
  # [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm
}

nvm() {
  lazynvm
  nvm $@
}

node() {
  lazynvm
  node $@
}

npm() {
  lazynvm
  npm $@
}

# install version of node with all previous global modules
function nvm_install {
  nvm install $1 --reinstall-packages-from=default
}

# Pause execution until guest control is available for a virtual machine.
function wait_for_guestcontrol() {
  sleep_wait="5"
  while true ; do
    echo "Waiting for ${1} to be available for guestcontrol..."
    sleep "${sleep_wait}"
    VBoxManage showvminfo "${1}" | grep 'Additions run level:' | grep -q "3" && return 0 || true
  done
}

function start_vm() {
  # --type headless
  IE_VM=$1
  VBoxManage startvm "$IE_VM"
  wait_for_guestcontrol "$IE_VM"
  start_ie "$IE_VM"
}

function start_ie() {
  IE_VM=$1
  LOCALIP=`ipconfig getifaddr en0`
  URL="http://$LOCALIP:8080"
  USER="IEUser"
  PASSWORD="Passw0rd!"
  IE_PATH="C:\Progra~1\Intern~1\iexplore.exe"
  VBoxmanage guestcontrol "$IE_VM" start --exe "$IE_PATH" --username "$USER" --password "$PASSWORD" -- iexplore "$URL"
}

# Internet Explorer virtual box VMs
function ievm {
  IE8="IE8 - WinXP"
  IE9="IE9 - Win7"
  IE10="IE10 - Win7"
  IE11="IE11 - Win7"
  EDGE="MSEdge - Win10"
  PS3='Please choose an Internet Explorer version: '
  options=("$IE8" "$IE9" "$IE10" "$IE11" "$EDGE")
  select opt in "${options[@]}"
  do
    case $opt in
      "$IE8")
        start_vm "$IE8"
        break
        ;;
      "$IE9")
        start_vm "$IE9"
        break
        ;;
      "$IE10")
        start_vm "$IE10"
        break
        ;;
      "$IE11")
        start_vm "$IE11"
        break
        ;;
      "$EDGE")
        start_vm "$EDGE"
        break
        ;;
      *) echo invalid option;;
    esac
  done
}

# go to rbenv directory of gems installed for local Ruby version
function go_to_gem_dir() {
  RUBYVER="$(ruby -e 'print RUBY_VERSION')"
  cd ~/.rbenv/versions/$RUBYVER/lib/ruby/gems/$RUBYVER/gems/
}

# delete all the rbenv-installed gems for cwd
function remove_rbenv_gems() {
  gem list | cut -d" " -f1 | xargs gem uninstall -aIx
}

# look up an IP address
function lookup_ip() {
  curl ipinfo.io/$1
}

# get gzipped size of a local file
function gz() {
  local original="$(cat "$1" | wc -c)"
  local gzipped="$(gzip -c "$1" | wc -c)"
  echo
  echo "original file size (bytes):" $original
  echo "gzipped file size  (bytes):" $gzipped
}

# get gzipped size of a remote file
function gzu() {
  local dlFile="$(curl $1)"
  local origSize="$(echo $dlFile | wc -c)"
  local gzipSize=$(echo $dlFile | gzip -c | wc -c)
  local original="$(echo "scale=1; $origSize/1024" | bc)"
  local gzipped="$(echo "scale=1; $gzipSize/1024" | bc)"
  echo
  echo "original file size (kb):" $original
  echo "gzipped file size  (kb):" $gzipped
}

# list files in dir greater than a certain size
function lsgt() {
  find . -size +$1 -exec du -h {} \;
}

# start an HTTP server from a directory, optionally specifying the port
# requires node & https://github.com/nodeapps/http-server to be installed
function server() {
  local port="${1:-8000}"
  http-server -p $1 -o
}

# start an HTTP server from a directory, optionally specifying the port
# requires python to be installed
function srvr() {
  local port="${1:-8000}"
  open "http://localhost:${port}/"
  # Set the default Content-Type to `text/plain` instead of `application/octet-stream`
  # And serve everything as UTF-8 (although not technically correct, this doesn't break anything for binary files)
  python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port"
}

# Create a new directory and enter it
function md() {
  mkdir -p "$@" && cd "$@"
}

# navigate and dir
function cdd() {
  if [ "$*" = "" ]
    then
      cd
  else
    cd "$*";
  fi
  dir;
}

# find shorthand
function f() {
  find . -name "$1"
}

# quicklook from the terminal
function qlf() {
  qlmanage -p "$*" >& /dev/null;
}

# watch for a website to come back online
# example: github down? do `mashf5 github.com`
function mashf5() {
  watch -d -n 5 "curl --head --silent --location $1 | grep '^HTTP/'"
}

# Test if HTTP compression (RFC 2616 + SDCH) is enabled for a given URL.
# Send a fake UA string for sites that sniff it instead of using the Accept-Encoding header. (Looking at you, ajax.googleapis.com!)
function http_compression() {
  encoding="$(curl -LIs -H 'User-Agent: Mozilla/5 Gecko' -H 'Accept-Encoding: gzip,deflate,compress,sdch' "$1" | grep '^Content-Encoding:')" && echo "$1 is encoded using ${encoding#* }" || echo "$1 is not using any encoding"
}

# Syntax-highlight JSON strings or files
function json() {
  if [ -p /dev/stdin ]; then
    # piping, e.g. `echo '{"foo":42}' | json`
    python -mjson.tool | pygmentize -l javascript
  else
    # e.g. `json '{"foo":42}'`
    python -mjson.tool <<< "$*" | pygmentize -l javascript
  fi
}

# Escape UTF-8 characters into their 3-byte format
function escape() {
  printf "\\\x%s" $(printf "$@" | xxd -p -c1 -u)
  echo # newline
}

# Decode \x{ABCD}-style Unicode escape sequences
function unidecode() {
  perl -e "binmode(STDOUT, ':utf8'); print \"$@\""
  echo # newline
}

function count_files_by_extension() {
  echo "Number of files with .$@ extension:"
  find . -name "*.$@" | wc -l
}

# alerts when a branch has completed tddium build
function tddium_wait() {
  [[ $# == 0 ]] && echo "tddium_wait needs a branch name to watch" && return 1

  branch=$1
  while tddium status --no-json | grep $branch | grep running ; do
    sleep 60
  done
  say --interactive "$branch has finished building"
}

# Browserstack shortcuts
# Note, a trial or paid for account is needed for this to work
# Usage: ipad3 "http://www.google.com", win7ie8 "http://www.google.com" etc.

# For local server running on port 3000, use like this
# Usage: ipad3 "http://localhost:3000" "localhost,3000,0", win7ie8 "http://localhost:3000" "localhost,3000,0" etc.

# For local server running on apache with ssl as staging.example.com and https://staging.example.com
# Usage: ipad3 "http://staging.example.com" "staging.example.com,80,0,staging.example.com,443,1", win7ie8 "http://staging.example.com" "staging.example.com,80,0,staging.example.com,443,1" etc.

function open_url(){
  if [ $2 ]
  then
    url=$1"&host_ports=$2"
  fi
  open -a google\ chrome ${url}
}

function androidnexus(){
  local url="http://www.browserstack.com/start#os=android&os_version=4.0.3&device=Samsung+Galaxy+Nexus&zoom_to_fit=true&url=$1&start=true"
  open_url $url $2
}

function ipad3(){
  local url="http://www.browserstack.com/start#os=ios&os_version=5.1&device=iPad+3rd&zoom_to_fit=true&resolution=1024x768&speed=1&url=$1&start=true"
  open_url $url $2
}

function ipad3ios6(){
  local url="http://www.browserstack.com/start#os=ios&os_version=6.1&device=iPad+3rd&zoom_to_fit=true&resolution=1024x768&speed=1&url=$1&start=true"
  open_url $url $2
}

function ipad2(){
  local url="http://www.browserstack.com/start#os=ios&os_version=5.1&device=iPad+2nd&zoom_to_fit=true&resolution=1024x768&speed=1&url=$1&start=true"
  open_url $url $2
}

function win7ie8(){
  local url="http://www.browserstack.com/start#os=Windows&os_version=7&browser=IE&browser_version=8.0&zoom_to_fit=true&resolution=1024x768&speed=1&url=$1&start=true"
  open_url $url $2
}

function win7ie9(){
  local url="http://www.browserstack.com/start#os=Windows&os_version=7&browser=IE&browser_version=9.0&zoom_to_fit=true&resolution=1024x768&speed=1&url=$1&start=true"
  open_url $url $2
}

function win8ie10(){
  local url="http://www.browserstack.com/start#os=Windows&os_version=8&browser=IE&browser_version=10.0&zoom_to_fit=true&resolution=1024x768&speed=1&url=$1&start=true"
  open_url $url $2
}

function winxpie8(){
  local url="http://www.browserstack.com/start#os=Windows&os_version=XP&browser=IE&browser_version=8.0&zoom_to_fit=true&resolution=1024x768&speed=1&url=$1&start=true"
  open_url $url $2
}

function winxpie7(){
  local url="http://www.browserstack.com/start#os=Windows&os_version=XP&browser=IE&browser_version=7.0&zoom_to_fit=true&resolution=1024x768&speed=1&url=$1&start=true"
  open_url $url $2
}

function winxpie6(){
  local url="http://www.browserstack.com/start#os=Windows&os_version=XP&browser=IE&browser_version=6.0&zoom_to_fit=true&resolution=1024x768&speed=1&url=$1&start=true"
  open_url $url $2
}

function win7chrome(){
  local url="http://www.browserstack.com/start#os=Windows&os_version=7&browser=Chrome&browser_version=21.0&zoom_to_fit=true&resolution=1024x768&speed=1&url=$1&start=true"
  open_url $url $2
}

function win7ff(){
  local url="http://www.browserstack.com/start#os=Windows&os_version=7&browser=Firefox&browser_version=16.0&zoom_to_fit=true&resolution=1024x768&speed=1&url=$1&start=true"
  open_url $url $2
}




# retroactive git tagging
# https://github.com/openmelody/melody/wiki/Devbest-tagging
# git checkout SHA_HASH
# GIT_COMMITTER_DATE="$(git show --format=%aD  | head -1)" git tag -a v1.0.0 -m"v1.0.0"


# generates a git patch for a specific commit; sha is only arg
function git_patch() {
  git format-patch -1 "$1" --stdout > ~/new_patch.patch
}

# batch git rm (opposite of git add .)
function git_rm() {
  git rm $(git ls-files --deleted)
}

# git log with per-commit cmd-clickable GitHub URLs (iTerm)
function git_log_clickable() {
  local remote="$(git remote -v | awk '/^origin.*\(push\)$/ {print $2}')"
  [[ "$remote" ]] || return
  local user_repo="$(echo "$remote" | perl -pe 's/.*://;s/\.git$//')"
  git log $* --name-status --color | awk "$(cat <<AWK
    /^.*commit [0-9a-f]{40}/ {sha=substr(\$2,1,7)}
    /^[MA]\t/ {printf "%s\thttps://github.com/$user_repo/blob/%s/%s\n", \$1, sha, \$2; next}
    /.*/ {print \$0}
AWK
  )" | less -F
}

# take this repo and copy it to somewhere else minus the .git stuff.
function git_export() {
  mkdir -p "$1"
  git archive master | tar -x -C "$1"
}

# displays repo contributors and their total contributions
function git_top_authors() {
  git shortlog -s -- $1 | cut -c8- | while read i
  do
      git log --author="$i" --pretty=tformat: --numstat -- $1 \
      | awk -v name="$i" '{ add += $1; subs += $2; loc += $1 - $2 } END { printf "%s: added lines: %s removed lines: %s total lines: %s\n", name, add, subs, loc }'
  done
}

# returns first commit of a repo (depending on past merges may return multiple SHAs)
function git_first_commit() {
  git show `git rev-list --max-parents=0 HEAD`
}

#
function git_commits_since_last_tag() {
  git log `git describe --tags --abbrev=0`..HEAD --oneline
}

# returns the name of your current branch
function current_branch() {
  git branch | grep '*' | cut -f2 -d' '
  # git rev-parse --abbrev-ref HEAD
}

function branches_first_commit() {
  git merge-base master $1
}

# list of commits that exist on current branch but not on remote #main
function git_here_not_there() {
  if [ `git branch --list master` ]
  then
    git log HEAD \^origin/master --no-merges --oneline
  else
    git log HEAD \^origin/main --no-merges --oneline
  fi
}

# rebase main remote branch onto current branch
function git_bring_up_to_date() {
  if [ `git branch --list master` ]
  then
    git pull origin master --rebase
  else
    git pull origin main --rebase
  fi
}

# list of files changed on current branch
function git_branch_ls() {
  BRANCH="${1:-`current_branch`}"
  git log "$(branches_first_commit $BRANCH)"..HEAD --name-only --pretty=format: | sort | uniq
}

# display local branches that do not have a remote
function git_branch_no_remote() {
  git branch --format "%(refname:short) %(upstream)" | awk '{if (!$2) print $1;}'
}

# display list of remote git branches ordered by most recently updated
# can pass argument to limit count
function git_branch_remote_ls() {
  for branch in `git branch -r | grep -v HEAD`;
  do echo -e `git show --date=short --pretty=format:"%Cblue%cd | %Cred%cr | %Creset%an | %Cgreen$k" $branch | head -n 1` \\t$branch;
  done | sort -r | head -n 50 | column -t -s '|' | \
  if [ -n "$1" ]
    then
      head -n $1
  else
    head -n 500
  fi
}

# display list of local git branches ordered by most recently updated
# can pass argument to limit count
function git_branch_local_ls() {
  git for-each-ref \
  --format='%(color:blue)%(committerdate:short)%(color:reset) | %(color:red)%(committerdate:relative)%(color:reset) | %(authorname) | %(color:yellow)%(refname:short)%(color:reset)' \
  --sort=-committerdate refs/heads/ | column -t -s '|' | \
  if [ -n "$1" ]
    then
      head -n $1
  else
    head -n 500
  fi
}

# write this less shittily someday
function git_contribute() {
  case "$1" in

  1)  echo "All your contributions to this repo..."
      git log --stat --author $(git config --get user.email) | awk -F',' '/files? changed/ {
          files += $1
          insertions += $2
          deletions += $3
      }
      END {
          print "Files Changed: " files
          print "Insertions: " insertions
          print "Deletions: " deletions
          print "Lines changed: " insertions + deletions
      }'
      ;;
  2)  echo "Your contributions to this repo in the last day..."
      git log --stat --author $(git config --get user.email) --since='yesterday' --until='now' | awk -F',' '/files? changed/ {
          files += $1
          insertions += $2
          deletions += $3
      }
      END {
          print "Files Changed: " files
          print "Insertions: " insertions
          print "Deletions: " deletions
          print "Lines changed: " insertions + deletions
      }'
      ;;
  3)  echo "All team contributions to this repo..."
      git log --stat | awk -F',' '/files? changed/ {
          files += $1
          insertions += $2
          deletions += $3
      }
      END {
          print "Files Changed: " files
          print "Insertions: " insertions
          print "Deletions: " deletions
          print "Lines changed: " insertions + deletions
      }'
      ;;
  4)  echo "All team contributions to this repo in the last day..."
      git log --stat --since='yesterday' --until='now' | awk -F',' '/files? changed/ {
          files += $1
          insertions += $2
          deletions += $3
      }
      END {
          print "Files Changed: " files
          print "Insertions: " insertions
          print "Deletions: " deletions
          print "Lines changed: " insertions + deletions
      }'
      ;;
  *) echo "Fail"
     ;;
  esac

}

# displays commits that are on branch1 that do not exist on branch2
# git_branch_compare branch1 branch2
function git_branch_compare() {
  git log $1 ^$2 --no-merges
}

function git_show_all_stashes() {
  git stash list | awk -F: '{ print "\n\n\n\n"; print $0; print "\n\n"; system("git -c color.ui=always stash show -p " $1); }' | less -R
}
