# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Subversion files
.svn

# SASS cache
.sass-cache

# Dotfiles I don't want commited
.extra
.netrc

# Local gem editing
Gemfile.local
