[alias]
  co = checkout
  s = status -s
  st = status
  c = commit -m
[color]
  ui = auto
[apply]
  whitespace = fix
[core]
  autocrlf = false
  attributesfile = ~/.gitattributes
  editor = open -a 'Sublime Text 2'
  excludesfile = ~/.gitignore
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  log = true
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
[user]
  name = Morgan Wigmanich
  email = mwigmanich@patientslikeme.com
[credential]
  helper = osxkeychain
[push]
  default = tracking